p {
    text-align: justify;
}

#img-inysaur {
    height: 10em;
    width: 15em;
    filter: drop-shadow(2px 2px 2px black);
}

#box-poke {
    background-color: whitesmoke;
}

#box-poke:hover {
    box-shadow: 5px 5px 24px rgba(245, 245, 245, 0.745);
}
#pokebola{
    height: 25px;
    width: 25px;
    float: left;
    /* margin-left: 23px; */
}

/* hr{
    border-style: dashed black;
} */

footer{
    background-color: darkgrey;
}